$background: #2e2f32;
$background-img: url(/vendor/img/AuthModule/background-login.jpg);
$formBackground: #191c20;

$inputBackground: #2a3038;
$inputBorderColor: #40454c;
$inputFontColor: #fff;

$dangerColor: #d53f3a;
